
#rectangle{
    width  : 100%;
    height : 112px;
    background : rgb(160, 214, 240);
    margin: 0;
}

.titre{
    line-height : 100px;
    font-weight: 50px; 
    font-size: 50px; 
    color :rgb(3, 30, 102); 
    text-align: center;
    text-decoration: underline;
}

#image_frise{
  width : 100%
}

body {/* barre du haut bien mise*/
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  height : 100%
}
.fenêtre {/* centrer le tous */
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #333;
  padding: 15px 0;
  transform: translate(0%, -145px);
}
.fêtre {/* Texte lisible  */
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #555;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:hover {
  color: rgb(201, 204, 9); /* Changer la couleur du texte au survol */
  transform: scale(1.2); /* Agrandit légèrement le texte */
  font-weight: bold; /* Met le texte en gras */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Ombre portée autour du texte */
  background-color: rgba(0, 0, 0, 0.1); /* Fond semi-transparent */
  transform: rotate(3deg); /* Fait tourner le texte de 10 degrés */
}
a::after {
  content: '';
  position: absolute;
  bottom: 0;left: 0;
  width: 0;height: 3px;
  background-color: rgb(219, 216, 18); /* Couleur de la ligne */
  transition: width 0.3s ease;
}
a:hover::after {
  width: 100%; /* La ligne prend toute la largeur du texte */
}
